body{
    font-family: 'Chilanka', cursive;

}

.main{
    background-color:#17324D;
    width:65%;
    height:auto;
    margin-left:250px;
    margin-top:-300px;
    position:relative;
    padding:20px;
    text-align: center;
    color:white;
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
}

.in{
    width:50%;
    height:auto;
    border-radius: 8px;
    border:none;
}

footer{
    background-color:#17324D;
    width:100%;
    height:auto;
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
    color: white;
}

#output{
    padding: 30px;
    text-transform: uppercase;
    word-spacing: 7px;
    color:yellow;
}